extends ../../templates/main

block vars
	-
		page = {
			language: 'en',
			name: 'about',
			title: 'About Page Title'
		}

block styles-head
	p styles-head

block scripts-head
	p scripts-head

block main
	p main

block sidebar
	p sidebar

block scripts-body
	p scripts-body
