extends ../_templates/_layout

//- page vars

block page_vars
	-
		page = {
			name: 		'home',
			title: 		'Home Page Title'
		}

//- styles & scripts

block styles
	//- link(rel='stylesheet' href='./js/plugins/{pluginName}/{pluginName}.{ext}')
	link(rel='stylesheet' href='./css/styles.css')

block scripts
	script.
		(() => {
			//- head scripts
		})();

block js
	script(src='./js/libraries/libraries.js')
	//- script(src='./js/plugins/{pluginName}/{pluginName}.{ext}')
	//- script(src='./js/scripts.js')
	script.
		(() => {
			//- body init plugins
			svg4everybody();
		})();

//- content

block main
	main
		p main

block sidebar
	aside.sidebar
		p sidebar
