extends ../_templates/_layout

block page_vars
	-
		page = {
			name: 		'page.pug',
			title: 		'Page Title'
		}

block styles
	//- link(rel='stylesheet' href='./js/plugins/{pluginName}/{pluginName}.{ext}')
	link(rel='stylesheet' href='./css/styles.css')

block scripts
	script.
		(() => {
			// head scripts
		})();

block js
	script(src='./js/libraries/libraries.js')
	//- script(src='./js/plugins/{pluginName}/{pluginName}.{ext}')
	script(src='./js/scripts.js')
	script.
		(() => {
			// body init plugins
			svg4everybody();
		})();

block main
	h3 main
	+icon('icon_1','modificator')
	+sprite('img_1')
	p= json.pages.page.content

block sidebar
	h3 sidebar
	+nav
