@charset "utf-8";

@import '../_helpers/_vars';
@import '../_helpers/_mixins';

/**
 * reset
 */

@import '../_helpers/_reset';

/**
 * base
 */

@import '../_helpers/_base';

/**
 * fonts
 */

@import '../_helpers/_fonts';

/**
 * sprites
 */

@import '../_helpers/_svg_sprite';
@import '../_helpers/_png_sprite';

/**
 * common
 */

body,
input,
textarea,
button {
	font-family: $font-regular;
	font-size: $font-size;
	color: $text-color;
}

a {
	color: $link-color;
}

/**
 * start
 */

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 960px;
}

.autoprefixer-test {
	display: flex;
}

/**
 * header
 */

@import '../_partials/_header.scss';

/**
 * footer
 */

@import '../_partials/_footer.scss';

/**
 * nav
 */

@import '../_partials/_nav.scss';

/**
 * buttons
 */

@import '../_partials/_buttons.scss';

/**
 * pages
 */

@import './home/_styles.scss';
