@charset "utf-8";

@import '../_helpers/_vars';
@import '../_helpers/_mixins';
@import '../_helpers/_sprite';
// @import '../_helpers/_smartgrid';

/* reset */

@import '../_partials/_reset';

/* base */

@import '../_partials/_base';

/* fonts */

@import '../_partials/_fonts';

/* common */

body,
input,
textarea,
button {
	font-family: $font-family;
	font-size: $font-size;
	color: $text-color;
}

a {
	color: $link-color;

	&:hover {
		text-decoration: none;
	}
}

// sticky footer

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.body {
		flex: 1;
	}
}

/* sprites */

/* buttons */

/* navigation */

/* header */

/* footer */

/* pages */
