extends ../_templates/_test

//- page vars

block page_vars
	-
		page = {
			name: 		'test.pug',
			title: 		'Test Page Title'
		}

//- styles & scripts

block styles
	//- link(rel='stylesheet' href='./js/plugins/{pluginName}/{pluginName}.{ext}')
	link(rel='stylesheet' href='./css/styles.css')

block scripts
	script.
		(() => {
			//- head scripts
		})();

block js
	script(src='./js/libraries/libraries.js')
	//- script(src='./js/plugins/{pluginName}/{pluginName}.{ext}')
	//- script(src='./js/scripts.js')
	script.
		(() => {
			//- body init plugins
			svg4everybody();
		})();

//- content

block container
	.container
		header.header
			p header
		.body
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quo enim et omnis amet at tempora laudantium, est incidunt iste deleniti accusantium similique aliquam quas aperiam optio, nostrum quod nobis.
		footer.footer
			p footer
