doctype html

include ../_helpers/_mixins
include ../_helpers/_vars

block page_vars

html(lang=json.language)
	head
		include ../_partials/_head

		block styles
		block scripts

	body(class='page-' + page.name)
		block container

		block js
