
/* sprites */

.icon
	display: inline-block
	width: 1em
	height: 1em
	fill: currentColor

.icon-SVG_example_1
	font-size:(512 / 10) * 1rem
	width:(512 / 512) * 1em
.icon-SVG_example_2
	font-size:(512 / 10) * 1rem
	width:(512 / 512) * 1em
.icon-SVG_example_3
	font-size:(512 / 10) * 1rem
	width:(512 / 512) * 1em
