doctype html

include ../helpers/_mixins
include ../helpers/_vars

block vars

html(lang=page.language)
	head
		include ../partials/_head
		block styles-head
		block scripts-head

	body(class='page-' + page.name)
		include ../partials/_header
		block main
		block sidebar
		include ../partials/_footer
		include ../partials/_scripts
		block scripts-body
