extends ../../_templates/_layout

block page_vars
	-
		page = {
			language: 		'en',
			name: 			'home',
			title: 			'Home Page Title'
		}

block styles
	include _styles

block scripts
	include _scripts

block main
	p main
	+nav
	+icon('icon_1','modificator-class')

block js
	include _js
