extends ../../_templates/_layout

block vars
	-
		page = {
			language: 		'en',
			name: 			'home',
			title: 			'Home Page Title'
		}

block styles-head
	p styles-head

block scripts-head
	p scripts-head

block main
	p main
	+nav
	+icon('SVG_example_1','modificator-class')

block plugins
	p plugins

block scripts-body
	p scripts-body
