doctype html

include ./_helpers/_mixins
include ./_helpers/_vars

html(lang=json.language)
head
	meta(charset='utf-8')
	title= json.projectName + ' pages'
body
	h1= json.projectName + ' pages'
	+index(json.index)
