mixin index
	nav
		ul.index
			each link, title in index.index
				li
					a(href= link, title= title).item= title

//- +index

mixin nav
	nav
		ul.main-nav
			each link, title in nav.navigation
				li
					a(href= link, title= title).item= title

//- +nav

mixin icon(name, mod)
	- mod = mod || ''
	svg(class='svgSprite svgSprite-' + name + ' ' + mod)
		use(xlink:href='img/sprite.svg#' + name)

//- +icon('imgName','modificator-class')
