//- +index

mixin index
	nav
		ul.index
			each link, title in json.index
				li
					a(href= link, title= title)= title

//- +nav

mixin nav
	nav
		ul.main-nav
			each link, title in json.common.navigation
				li
					a(href= link, title= title)= title

//- +icon('imgName','modificator')

mixin icon(name, mod)
	- mod = mod || ''
	svg(class='icon icon-' + name + ' ' + mod)
		use(xlink:href='img/icons.svg#' + name)

//- +sprite('imgName','modificator')

mixin sprite(name, mod)
	- mod = mod || ''
	span(class='sprite sprite-' + name + ' ' + mod)
